.mainWindow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Стили для красивого скроллбара */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.custom-scrollbar-inner {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #ffffff;
}

.custom-scrollbar-inner::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar-inner::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

.custom-scrollbar-inner::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.custom-scrollbar-inner::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

/* Стили для скроллбара в левом sidebar */
.custom-scrollbar-left {
    scrollbar-width: thin;
    scrollbar-color: #949494 #E3E3E3;
}

.custom-scrollbar-left::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar-left::-webkit-scrollbar-track {
    background: #E3E3E3;
    border-radius: 10px;
    margin: 4px 0;
}

.custom-scrollbar-left::-webkit-scrollbar-thumb {
    background: #949494;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
}

.custom-scrollbar-left::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
}